/* Gentium */

@font-face {
  font-family: 'Gentium';
  src: url('/fonts/Gentium_Plus/GentiumPlus-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gentium';
  src: url('/fonts/Gentium_Plus/GentiumPlus-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gentium';
  src: url('/fonts/Gentium_Plus/GentiumPlus-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gentium';
  src: url('/fonts/Gentium_Plus/GentiumPlus-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
