@import url(./gentium.css);
@import url(./inter.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: rgb(255, 210, 197);
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: 'Gentium', sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Gentium', sans-serif;
  font-size: 2.0rem;
}

h3 {
  font-family: 'Gentium', sans-serif;
  font-size: 1.75rem;
}

h4 {
  font-family: 'Gentium', sans-serif;
  font-size: 1.5rem;
}

h5 {
  font-family: 'Gentium', sans-serif;
  font-size: 1.25rem;
}

h6 {
  font-family: 'Gentium', sans-serif;
  font-size: 0.75rem;
}
